/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
header {
  background-color: #ffdbaa;
  color: #553100;
  display: flex;
  justify-content: space-between;
  font-family: Calibri;
  font-weight: bold;
  h1 {
    margin-left: 20px;
    font-size: xx-large;
  }
  button {
    display: inline;
    padding: 10px 20px;
    border: none;
    margin: 10px;
  }
}
button {
  background-color: #805215;
  color: white;
  font-size: large;
  font-family: Calibri;
  font-weight: bold;
}
main {
  display: flex;
  justify-content: space-evenly;
  
}
main section {
  width: 300px;
}
section{
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  background-color: white;
  padding: auto;
  font-family: Calibri;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  button {
    align-self: center;
    flex-wrap: wrap;
    display: block;
    justify-content: wrap;
    width: 95%;
    padding: 10px 30px;
    margin: 20px;
    border: black 3px solid;
    
  }
}
body {
  background-color: #d4a76a;
}